myvenv/
.DS_Store
.env
*.log
*_test*
__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
Data_collector/kafka/kafka_data/
.Data_collector/kafka/kafka_data/
.messaging/kafka/data/
.messaging/kafka/data/*