myvenv/
.DS_Store
.env
*.log
*_test*
__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
Data_collector/kafka/kafka_data/
.Data_collector/kafka/kafka_data/
.messaging/kafka/data/
.messaging/kafka/data/*
data/

Project-Root/messaging/kafka/data/*
Project-Root/storage/timescaledb-deployment/timescaledb-deployment/timescale-data/*
Project-Root/consumers/signal_generator/architecture_discussions_with_ai.md